<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{myscript.js}"></script>
<link th:href="@{style.css}" rel="stylesheet"></link>
<style type="text/css" >
div{          /* This is embeded CSS*/
    color: whitesmoke;
    background-color: darkkhaki;
}
 
</style>
<script type="text/javascript">
    document.write("This is using embeded JavaScript");
    showAlert();
</script>
</head>
<body>
 This is my same html page using microservice
 <h2>This is heading2</h2>
 <strong>this is stron</strong>
 <p>This is my Paragraph. This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.</p>
<div style="background:#d2a41f;color:#128e62;">This is under a division using Inline  CSS</div>
<div>One More Div</div>
<p th:text="${myobj}">Default Text to be displayed</p>
    <p the:text="$books"></p>
    <input type="text" name="userName" th:value="${myobj}" />
 

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tr th:if="${#lists.isEmpty(mybooks)}">No content Available</tr>
        <tbody>
 
            <tr th:each="book : ${mybooks}">
                <td><span th:text="${book.title}"> Title </span></td>
                <td><span th:text="${book.author}"> Author </span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>